{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>{{ room.label }}</h1>
  <!-- <p class="quiet"> -->
  <!--   Anyone with this URL can join the room and chat:  -->
  <!--   <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code>  -->
  <!-- </p> -->
  <label id="handle" style="display:none"> {{ username }} </label>
    <h3>Hello, {{ username }} </h2>


  <form id="chatform">
    <div id="chat">
      <div id = "chatcontent">
        {% for message in messages %}
          {% if message.handle != username %}
              <div style="margin-bottom: 15px;">
                <div style="float:left;margin-right:2rem;margin-left: 0.15rem;font-weight:  bolder;">{{ message.handle }}</div>
                <div style="font-size: 12px;position: relative;margin-bottom: 1rem;top: 3.5px; font-weight: 200">{{ message.timestamp }}</div>
                <div class="chat">
                    <div class="chat-content clearfix">
                        <span class="friend last">
                           <div style="font-size: 1.11em;">{{ message.message }}</div>
                        </span>
                    </div>
                </div>
                
              </div> 
          {% else %}
            
             <div style="margin-bottom: 100px; text-align:right;">
                <div style="float:right; margin-left: 1rem; font-size: 12px; font-weight: 200">{{ message.timestamp }}</div>
                <div style="font-weight:bolder;position: relative;margin-bottom: 1rem;top: -3.5px; ">{{ message.handle }}</div>
                <div class="chat">
                    <div class="chat-content clearfix">
                        <span class="you last">
                           <div style="font-size: 1.11em;">{{ message.message }}</div>
                        </span>
                    </div>
                </div>
              </div> 
              
          {% endif %}
        {% endfor %}
      </div>
      <tfoot>
      <div style="position:relative; top: 20px; text-align: center;">
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message" style="width: 60%">
          <button type="submit" id="go">Send</button>
        </td>
      </div>
      </tfoot>
    </div>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}
