.MainComp {
    color: darkblue;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.placeHolder{
    height:  2000px;
    width: 1px;
}

.div-right { 
    text-align:right;
    margin:0px auto 0px auto;
    height:60px;
} 

.modal{
    margin:0 auto;
    display:table;
    position: absolute;
    left: 0;
    right:0;
    top: 50%; 
    border:1px solid;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.submenu{
    text-align:right;
    margin:0px auto 0px auto;
    padding: 1.5% 5px 0px 20px;
    height:60px;
}

.ButtonGroup{
    height: 60px;
}


.PMList{
    position: absolute;
    transform: translate(0, 10%);
    left:2%;
}

.PMList_column1{
    float: left;
    width: 100px;
}
.PMList_column2{
    float: left;
    width: 100px;
    color: black;
}

.entry_row:after {
    content: "";
    display: table;
    clear: both;
}
