.searchComp {
    color: skyblue;
    text-align: center;
    position: absolute;
    width:100%;
    height: 1000px;
}

.search_panel{
}

.searchInput{
	width:auto;
}

.result_display{
    width: 100%;
	padding-top:10%;
}

.entry_column1{
    float: left;
    width: 23%;
}
.entry_column2{
    float: left;
    width: 43%;
    color: black;
}
.entry_column3{
    float: right;
    width: 33%;
}

/* Clear floats after the columns */
.entry_row:after {
    content: "";
    display: table;
    clear: both;
}

.filter_field{
    position: relative;
    padding-top:5%;
}